@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
/*font-family: 'DynaPuff', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
body{
 background-color: #222123;   
}
.image_size{
    width: 100%;
    height: 35vw;
}
.font_settings_h{
    font-family: 'DynaPuff', cursive;
    color: white;
}
.font_settings{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
}
.ul_settings{
    list-style-type: none;
    font-family: 'DynaPuff', cursive;
}
.image_settings{
    width: 40px; height: 40px;
}