@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Inter', sans-serif;*/
/*font-family: 'Mukta', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
#header_page1{
    color: orange;
}
#header_page1:hover{
    color: black;
}
.textPage{
    font-family: 'Mukta', sans-serif;
}
.textPage2{
    font-family: 'Raleway', sans-serif;
}
#block_forsell{
    background-color: black;
}
#imageblock{
    background-color: black;
}
#block_collections{
    background-color: black;
}
#saas{
    background-color: black;
}
.bgColorCollections{
     background-color: black;
}
.bgColorCollections2{
    background-color: yellow;
}
#color_fotblock1{
    background-color: orange;
    padding: 15px;
}
#color_fotblock2{
    background-color: black;
    color: white;
    padding: 15px;
}
