@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@600&family=Raleway:wght@500&display=swap');
/*
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Raleway', sans-serif;
*/
#bott_block{
    height: 25vw;
}  
.block_info{
/*    background-color: #003641;*/
    background-image: linear-gradient(to bottom, #003641, #006b81);
}
.bg_empty_block{
/*    background-color: #006b81;*/
    background-image: linear-gradient(to top, #003641, #006b81);
}
.block_footer{
    background-color: #003641;
}
#test{
    background-color: green;
}
.text_info{
    margin-left: 15vw;
    font-family: 'Edu QLD Beginner', cursive;
font-family: 'Raleway', sans-serif;
}
.btn_next{
    background-color: #006b81;
    width: 10%;
}
.btn_next:hover{
    background-color: white;
}
.bg_footer{
     background-color: #006b81;
}
.card_info{
    max-width: 540px;
}