@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*font-family: 'Edu TAS Beginner', cursive;*/
/*    font-family: 'Lato', sans-serif;*/
    .btn_center{
         margin: 0 auto;
    display: block;
}
#row_bg_img{
    background-image: url(../img/background_top.jpeg);
    width: 100%;
    background-position: top;
}
.div_top_1{
    margin-top: 16%;
    margin-left: 22%;
}
@media screen and (max-width:930px){
   .div_top_1{
    margin-top: 15%;
    margin-left: 15%;
} 
}
@media screen and (max-width:760px){
   .div_top_1{
    margin-top: 10%;
    margin-left: 10%;
} 
}
@media screen and (max-width:520px){
   .div_top_1{
    margin-top: 5%;
    margin-left: 5%;
} 
}
@media screen and (max-width:766px){
 .image_comma{
    margin-left: 30%;
}
}
.text_sansserif{
    font-family: 'Lato', sans-serif;
}
.text_top_1{
    font-size: 5vw;
    color:azure;
    text-shadow: 1px 0 1px #000;
}
.text_top_2{
    font-size: 2vw;
    color:azure;
    text-shadow: 1px 0 1px #000;
}
.card_1{
    max-width: 540px;
}
.text_card_1{
    font-family: 'Lato', sans-serif;
}
.four_info{
    margin-top: 32%;
}
#btn_tmore{
    width: 18% ;border-radius:25px;font-size: 1.1vw;
}
.spacing_card_media{
    margin-left: 1%;
    border-radius: 25px;
}
@media screen and (max-width:520px){
   .spacing_card_media{
    margin-top: 0;
    margin-left: 0;
        border-radius: 1px;
} 
}
.image_border{
    border-radius: 100px;
}
.container_pading{
    padding-bottom: 2%;
}
.row_col_bg_color{
    background-color: #f2f2f2;
}
.image_comma{
    margin-top: 18%;
}
.color_name_Card{
    color: blue;
}
.settings_card{
    max-width: 540px;
    border-radius: 30px;
}
.img_facebook{
    margin-left: 15%;
}
.img_twitter{
    margin-left: 7%;
}
.img_instagram{
    margin-left: 7%;
}
@media screen and (max-width:766px){
    .img_facebook{
        margin-left: 0%;
    }
}
@media screen and (max-width:766px){
    .img_card{
        display: block;
    margin-left: auto;
    margin-right: auto
    }
}   
.size_img{
    width: 10vw;
}
@media screen and (max-width:766px){
    .size_img{
      width: auto;
    }
}